<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>实时数据 | 水位监控平台</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.hcharts.cn/highcharts/highcharts.js"></script>


</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><b>水位监测系统</b></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">实时数据</a></li>
                    <li><a href="./historydata">历史数据</a></li>
                    <li><a href="./alert">超限记录</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <div class="main">
        <div class="page-header">
            <h1>实时数据</h1>
        </div>
        <div id="container" style="min-width:200px;height:500px;"></div>
    </div>

</div>



<script>
    $(function () {
        $(document).ready(function () {
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });

            var chart;
            //图形样式
            chart : {

            }
            $('#container').highcharts({

                chart: {
                    type: 'spline',
                    animation: Highcharts.svg,
                    marginRight: 10,
                    events: {
                        load: function () {

                            // set up the updating of the chart each second
                            var series = this.series[0];
                            setInterval(function () {
                                var x = (new Date()).getTime(), // current time
                                        y = Math.random();
                                series.addPoint([x, y], true, true);
                            }, 1000);
                        }
                    }
                },
                title: {
                    text: '实时水位数据'
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 500,

                },
                yAxis: {
                    title: {
                        text: '水位'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }],
                    //警告线
                    plotLines: [{
                        color: 'red',            //线的颜色，定义为红色
                        dashStyle: 'Dot',//标示线的样式，默认是solid（实线），这里定义为长虚线
                        value: 0.8,                //定义在哪个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
                        width: 2                 //标示线的宽度，2px
                    }],
                    // plotLines:[{
                    //     color:'yellow',            //线的颜色，定义为红色
                    //     dashStyle:'Dot',//标示线的样式，默认是solid（实线），这里定义为长虚线
                    //     value:0.2,                //定义在哪个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
                    //     width:2                 //标示线的宽度，2px
                    // }],
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                    },
                    // positioner: function() {
                    //     return {
                    //         x: 80,
                    //         y: 40
                    //     }
                    // }
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                //版权信息
                credits: {
                    enabled: false,
                },
                series: [{

                    name: '实时水位',
                    zones: [{
                        value: 0.2,
                        color: '#f7a35c',
                    }, {
                        value: 0.8,
                        color: '#7cb5ec'
                    }, {
                        color: '#f00'
                    }],
                    data: ({"x":12,"y":23})
                }]
            });
        });
    });
</script>
</body>

</html>
