<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>水位监控平台</title>
    <link href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
    <script type="text/javascript" src="//cdn.hcharts.cn/highcharts/highcharts.js"></script>


</head>
<body>
<div class="ui container">
    <div class="ui secondary  menu">

        <a class="item active">实时数据</a>
        <a class="item">历史数据</a>
        <a class="item">报警记录</a>
        <div class="right menu">
            <a class="ui item">登录</a>
        </div>
    </div>

    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="first">First</a>
        <a class="item" data-tab="second">Second</a>

    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">
        <div id="container" style="min-width:200px;height:500px;"></div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
        <table class="ui celled table">
            <thead>
            <tr>
                <th>编号</th>
                <th>时间</th>
                <th>水位</th>
                <th>状态</th>

            </tr>
            </thead>
            <tbody>
            <tr class="error">
                <td>
                    First
                </td>
                <td>Cell</td>
                <td>Cell</td>
                <td>警告</td>
            </tr>
            <tr>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>正常</td>
            </tr>
            <tr class="error">
                <td>
                    First
                </td>
                <td>Cell</td>
                <td>Cell</td>
                <td>警告</td>
            </tr>
            <tr class="error">
                <td>
                    First
                </td>
                <td>Cell</td>
                <td>Cell</td>
                <td>警告</td>
            </tr>
            <tr>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>正常</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="3">
                    <div class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>


</div>

<script>
    $(function () {
        $('.menu .item')
                .tab()
        ;
        $(document).ready(function () {
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });

            var chart;
            //图形样式
            chart : {

            }
            $('#container').highcharts({

                chart: {
                    type: 'spline',
                    animation: Highcharts.svg, // don't animate in old IE
                    marginRight: 10,
                    events: {
                        load: function () {

                            // set up the updating of the chart each second
                            var series = this.series[0];
                            setInterval(function () {
                                var x = (new Date()).getTime(), // current time
                                        y = Math.random();
                                series.addPoint([x, y], true, true);
                            }, 1000);
                        }
                    }
                },
                title: {
                    text: '实时水位数据'
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 500,

                },
                yAxis: {
                    title: {
                        text: '水位'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }],
                    //警告线
                    plotLines: [{
                        color: 'red',            //线的颜色，定义为红色
                        dashStyle: 'Dot',//标示线的样式，默认是solid（实线），这里定义为长虚线
                        value: 0.8,                //定义在哪个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
                        width: 2                 //标示线的宽度，2px
                    }],
                    // plotLines:[{
                    //     color:'yellow',            //线的颜色，定义为红色
                    //     dashStyle:'Dot',//标示线的样式，默认是solid（实线），这里定义为长虚线
                    //     value:0.2,                //定义在哪个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
                    //     width:2                 //标示线的宽度，2px
                    // }],
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                    },
                    // positioner: function() {
                    //     return {
                    //         x: 80,
                    //         y: 40
                    //     }
                    // }
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                //版权信息
                credits: {
                    enabled: false,
                },
                series: [{

                    name: '实时水位',
                    zones: [{
                        value: 0.2,
                        color: '#f7a35c',
                    }, {
                        value: 0.8,
                        color: '#7cb5ec'
                    }, {
                        color: '#f00'
                    }],
                    data: (function () {
                        // generate an array of random data
                        var data = [],
                                time = (new Date()).getTime(),
                                i;

                        for (i = -19; i <= 0; i++) {
                            data.push({
                                x: time + i * 1000,
                                y: Math.random()
                            });
                        }
                        return data;
                    })()
                }]
            });
        });
//        $('#myTabs a').click(function (e) {
//            e.preventDefault()
//            $(this).tab('show')
//        })
    });
</script>
</body>

</html>
